body {
    font-family:'Courier New', Courier, monospace; 
    font-size:20px;
}

header {
   /* font-family:'Courier New', Courier, monospace; 
   font-size:xx-large; font-weight: 700;*/
   font-size:1em
    font-weight: 700;
}

h1,
h2,
h3 {
    color: brown;
}
