body{ 
    font-family: Quicksand; 
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/564x/c7/dd/48/c7dd483a41abc6a0be1d522c699437ef.jpg);
    
}


.black-container{
    background-color: black;
    color:#FCFDFE;
    padding: 0.5em;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
}
    

.county-title-container{
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 5%;
}

.comments-title-container{
    align-items: center;
    justify-content: center;
}

.image-container{
    width: auto; 
    height: auto; 
    padding-top: 10%;
}
.image-container-two{
    padding-top: 5%;
    padding-bottom: 7%;
}
.title{
    margin-top: 30px;
    text-align: center;
}


h1{
    font-family: 'Diplomata SC', serif;
    font-size: 3.12em;
}

h2{
    font-family: 'Diplomata SC', serif;
    font-size: 1.8em;
}
h3{
    font-family: 'Asset', serif;
    font-size: 1em;
}

@media(max-width:768px) {
    h2 {
        font-size: 1em;
    }
}